/*Global Styles*/
html{
  background-color: #333333;
  padding-top: 30px;
  z-index: 1;
}
body {
  padding-top: 50px;
  background: #333333 !important;

}

a{
  color: #65EA6D !important;
}

a:visited{
  color: #65EA6D;
}

.wideBackground{
  background: #333333;
  z-index: 1;
}
.mainText{
  color: snow;
}

.navbar-nav> li> a:hover{
  background-color: #62488A !important;
  color: snow !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;

}

.navbar-nav > li > .dropdown-menu{
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #333333;
}
.dropdown-menu > li > a:hover{
  background-color: #333333!important;
}
.header{
  color: #65EA6D;
}

/* End Global Styles*/

/*Registration Page*/
.registration{
  background: #333333;
  color: snow;

}
.registration .form-control{
  background: lightgray;
}

.registration .row{
  margin-bottom: 18px;
}

.registration .radButtons{
  margin-top: 5px;
}

.btn-regSubmit{
  background: #65EA6D;
  color: black;
  border-radius: 18px;
  transition-duration: 0.8s;
}

.btn-regSubmit:hover{
  color: snow;
  background: #62488A;

}

/* Shutter Out Horizontal */
.btn-shutterOut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #62488A;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

}
.btn-shutterOut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #65EA6D;
  color: snow;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 3px;
}
.btn-shutterOut:hover, .btn-shutterOut:focus, .btn-shutterOut:active {
  color: snow;
}
.btn-shutterOut:hover:before, .btn-shutterOut:focus:before, .btn-shutterOut:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*End Registration Page*/

/*Player Profile Page*/
.pBackground {
  background: #5F5F5F;
  border-bottom: solid gold 20px;
  margin: 0 auto;
  color: gainsboro;
}
.pBackground .header{
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pBackground a:visited{
  color: purple;
} /*There is come conflict with global font colors*/

/*End Player Profile Page*/

/*Contact Us Page*/
.contact{
  background: #333333;
  color: snow;
}
.contactHeader{
  color: #62488A;
}

#contactInfo {
  overflow: auto;
  width: 500px;
  margin: 2em auto;
  text-align: center;
  color: snow;

}

#leftInfo, #rightInfo {
  width: 40%;
  margin:5px;
  padding: 1em;
  text-align: center;

}

#leftInfo {
  float:left;
}
#rightInfo {
  float:right;
}

#disclaimer {
  overflow: auto;

  text-align: center;
}

/*End Contact Us Page*/

.jumbotron{
  background-color: #5F5F5F !important;
  color: snow !important;
  z-index: 1;
}

.brand-center{
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}
