<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!--<link rel="stylesheet" href="styles/sidebar.css">-->
    <link rel="stylesheet" href="styles/main2.css">
    <link rel="stylesheet" href="styles/Login.css">
    <link rel="stylesheet" href="styles/bubbleAnimation.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- endbuild -->
  </head>
  <body ng-app="clientApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="HeaderCtrl">


      <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div>

            </div>
            <a class="navbar-brand brand-center" href="#/home">PoolBoy</a>
          </div>
          <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-left">
              <li><a ng-href="#/about">About Us</a></li>
              <li><a ng-href="#/playerprofile">Player Profiles</a></li>
              <li><a ng-href="#/contactus">Contact</a></li>
              <li><a ng-href="#/faqs">FAQs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#/playermanage">Player Management</a></li>
                  <li><a ng-href="#/optpool">Optimize Pool</a></li>
                  <li><a ng-href="#/managepool">Manage Pools</a></li>
                  <li><a ng-href="#/inputresults">Input Results</a></li>
                </ul>
              </li>
              <li><a ng-href="#/player2">test</a></li>
              <li><a ng-href="#/register">Register</a></li>
              <li ng-show="!user"><a ng-href="#/login" data-toggle="modal" data-target="#login-modal">Login</a></li>
              <!--<li ng-show="!user"><a data-toggle="modal" data-target="#login-modal">Login</a></li>-->
              <li ng-show="user"><a href ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <p class="bg-danger" ng-show="err == true" style="padding: 1em;">
              Your userid or password is incorrect. Correct the information and try again.
            </p>
            <form name="loginForm" ng-init="authInfo = {}" ng-submit="login()">
              <div class="right-inner-addon">
                <i class="glyphicon glyphicon-knight"></i>
                <input class="form-control" type="email" name="user" ng-model="authInfo.email" placeholder="Email"/>
              </div>
              <div class="right-inner-addon">
                <i class="glyphicon glyphicon-sunglasses"></i>
                <input class="form-control" type="password" name="pass" ng-model="authInfo.password" placeholder="Password"/>
              </div>
              <button type="submit" name="login" class="btn btn-shutterOut">Login</button>
            </form>

            <div class="login-help">
              <p>Don't have an account yet?</p>
              <a ng-href="#/register">Register!</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div ng-view=""></div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/contactus.js"></script>
    <script src="scripts/controllers/faqs.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/player2.js"></script>
    <script src="scripts/controllers/playerprofile.js"></script>
        <script src="scripts/controllers/mainlogin.js"></script>
        <!-- endbuild -->
</body>
</html>
