<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
    <div class="row">
      <div class="col-sm-9 mainText">
        <h1>Background Info</h1>
      </div>
      <br>
      <div class="col-sm-12">
        <h2 class="header">What are pools?</h2>

        <h4>
          <div class="col-sm-12 mainText">Pools are a method of running a tournament where you separate players into different “pools” with each player versing every other player in their pool. So if you have 6 people in a pool they each play every other player, meaning each player plays 5 games total. The result of each game is tallied up to create a rank for each player. Running pools means players play more games in less amount of time. Pools are used in many tournaments from Basketball to Smash Brothers.
          </div>

        </h4>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="header">How do pools work?</h2>
        <h4>
          <div class="col-sm-12 mainText"> Before being put into pools. Each player is given a “seed”. This seed is their rank by skill. With 1 being the best and higher being worse. If there are 5 pools, there will be 5 first seed players. This is because each pool will have one player of each seed. So a pool of 6 people will have a 1st seed, a 2nd seed, a 3rd seed, and so on. Because each pool has a one of each seed, you can swap same seeds between pools. So that means you can swap seed 2 from pool 1 and seed 2 from pool 5 without affecting the seeding.
          </div>
        </h4>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="header">How pools are made now: Excel</h2>
        <h4 class="mainText">
          <div class="col-sm-12"><b class="header">Problem:</b> TOs have to set up the pools manually, deleting and entering entrants one by one in excel. They have nothing to help them set up the pools. They have no way to know which players come from where and shouldn’t be placed in the same pool. People who often play each other don’t want to play early on in a tournament.

          </div>

        </h4>
      </div>
      <br>
    </div>
    <br>
    <div class="mainText"><h1>Our Solution!</h1></div>
    <br>
    <div class="row">
      <div class="col-sm-12 mainText">
        <h2 class="header">Components/Features:</h2>
        <h4>
          <div class="col-sm-12">
            <b class="header">Account Creation:</b>Players will be able to create an account and specify their data, such as name, state, and what crews they might belong to. Patel will be going over this in class, and will therefore be one of the easiest parts to implement. The account could also be able to keep track of a player's wins/losses and what tournaments they have participated in if we wanted to implement that.
            <br><br>
            <b class="header">Entering Players / Setting Groups: </b>This is the interface where TO will be able to manually enter players or select ones that are already signup up and in the database. He will also be able to create groups (state, crew, etc). The groups are not limited, he can group them by any parameter he wishes. He will also be able to set how much weight eight group will have, meaning how important it is to avoid have that group in the same pool.
            <br><br>
            <b class="header">Pool Optimization:</b>This will be the algorithm that takes the list of entrants and the parameters and values set by the TO and optimizes it to minimize overlap of certain parameters. These parameters can be state/crew/height/age or anything the TO determines. This is a relatively small component of the project, and is only one tool the TO will have to help create and run pools.
            <br><br>
            <b class="header">Pool Management:</b>The TO will be able to view the pool and actively switch players between pools with a drag and drop interface. This view will show the TO the conflicts and give them an active updating conflict score for each pool as they make swaps. This will help them immensely in setting up the pools, since it gives them live information about what conflicts might arise. This means they don’t have to try to juggle all of that information in their head.
            <br><br>
            <b class="header">Print Pools:</b>Taking the pools that have been finalized and creating printouts for the players to fill out. A simple feature to implement.
            <br><br>
            <b class="header">Pool Result Input:</b>An input screen where the results of the pools are input. The players are then ranked based on results. This will be simple comparison math. Also a simple feature.
            <br><br>
            <b class="header">Output Final Seeded List:</b>Output a final seeded list of players based on how they did in pools. This list is for use in seeding a bracket. Our software won’t handle the bracket. There is already software that does brackets very well.

          </div>

        </h4>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
