
<div class="wideBackground">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
      <div class="home">
        <div class="jumbotron">
          <h1>Welcome!</h1>
          <p>...to Round Robin. If you're new, try our <a href="/about">about</a> page. Otherwise, you can check out <a href="/registration">registration</a> or our <a href="/playerProfile">player profiles</a>. If you have any questions, please consult our <a href="/faq">FAQ</a> first.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
