<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container-fluid">Player Profile</h2>
      <div class="pBackground">
        <div class="container-fluid">
          <!--Adds style color to "Player Profile"-->
          <h2 class="row header container-fluid"><br></h2>

          <section class="row container-fluid">
            <!-- Fetches and displays the player profile image -->
            <p class="col-sm-6 col-md-4 col-lg-4"><img src=images/profile_1.jpg width="250" height="175" alt="Player Profile Picture."></p>
            <section class="col-sm-offset-1 col-sm-3 col-md-3 col-lg-4">
              <B>Online Alias:</B> Bjergsen <br>
              <b>Name:</b> Seren Bjerg<br>
              <b>DoB:</b> February 21, 1996<br>
              <b>Team:</b> Team Solo Mid<br>
              <b>Game:</b> League of Legends<br>
              <b>Platform:</b> PC <br>
              <b>Nationality:</b> Denmark<br>
            </section>
            <p class="col-sm-3 col-lg-3"><img src=images/icon_1.png width="175" height="175" alt="League Icon."></p>
          </section>

          <section class="col-sm-8 col-md-11 col-lg-11">
            <h3><b>Player Bio:</b></h3>
            <h4><b>League of Legends Career</b></h4>
            <p>Bjergsen began his professional League of Legends career at a very young age,
              and so during the Season 3 European LCS, he was unable to play with his team Copenhagen Wolves until the third
              week of the spring split due to age restrictions put in place by Riot Games. For the first two weeks, he was temporarily replaced by
              the team's sub cowTard. After he turned 17 years old on February 21st, he was able to rejoin the main lineup and play their remaining LCS matches.
              At the end of the spring split, he joined the rest of the Copenhagen Wolves starting lineup in moving to the organization Ninjas in Pyjamas,
              where he played in the summer split.</p><br>

            <h4><b>2014 Preseason</b></h4>
            <p>On November 2nd, 2013, Bjergsen left NiP to move to NA and join the Team SoloMid starting lineup as their mid laner,
              replacing Reginald and becoming the second player to move from the European LCS to play in the North American LCS after Edward left Gambit to join Curse during Season 3.
              Bjergsen debuted at the Battle of the Atlantic, where TSM played against Lemondogs. They won their series 2-0, and North America beat Europe in combined score.
              On January 23rd, 2014, Bjergsen received a competitive ruling for having violated the LCS rules by approaching and
              encouraging a contracted LCS player to leave his position at Lemondogs. He admitted to having committed the violation and was fined $2,000.</p><br>

            <h4><b>2014 Season</b></h4>
            <p>TSM's spring split went better than their season 3 summer split had, and they ended the round robin with a 22-6 record - just two games behind Cloud9.
              However, once again they found themselves lacking in the finals of the playoffs, losing to Cloud9 in another 3-0 series.
              With TheOddOne retiring and Xpecial replaced by Gleeb going into the summer split, TSM struggled early on but started to rebound with the addition of Korean import Lustboy replacing Gleeb.
              They accomplished what they hadn't been able to since Cloud9's entry to the LCS, and won the playoffs with a 3-2 victory over their rivals.
              TSM once again received North America's top seed to the World Championship, and they placed second in their group, behind Star Horn Royal Club and ahead of SK Gaming and Taipei Assassins.
              It was the first time that TSM with Dyrus had advanced past their initial seeding location at a World Championship,
              though they lost in the quarterfinals to eventual tournament winners Samsung White.</p><br>

            <h4><b>2015 Season</b></h4>
            <p>TSM began the 2015 Spring Split with an 8-2 record after five weeks, holding first place during every week after the first. By virtue of their standing after the fifth week of the split,
              TSM was invited to the IEM Season IX World Championship. There, they defeated Team WE, CJ Entus (marking their first tournament win over a Korean team), and the yoe Flash Wolves to advance
              to the finals of the event, where they swept Team WE 3-0 to win the title. Though TSM themselves did not play against the GE Tigers at all (then undefeated in the LCK), or against any Korean
              team in a multi-game series, they still made history by being the first North American team to win an international event with Korean teams present since Chicks Dig ELO at the 2011 World
              Cyber Games and the first Western team to do so since Gambit Gaming at IEM Katowice in 2013. Bjergsen won the title of MVP for the event.</p>

            <p>TSM finished the spring season with a 13-5 record, giving them the top seed into the playoffs. After defeating Team Impulse and then Cloud9,
              TSM won their third North American championship, tying Cloud9's record of most North American LCS championships won to date. Their victory also gave them the North American seed to
              the 2015 Mid-Season Invitational, where they looked to replicate their IEM success. However, the team underperformed in the group stage, winning only their match against wild
              card Beşiktaş and not qualifying for playoffs.</p>

            <p>In the summer split of LCS, TSM started relatively strong, sitting at a 8-2 record at the end of week 5. However, they fell to fifth place by week 9,
              their lowest regular-season placement to date. In the playoffs, TSM beat Gravity Gaming and Team Liquid in the first two rounds, winning both series 3-1. In the finals,
              held at Madison Square Garden in New York City, they faced off against long-time rivals CLG and lost in a convincing 3-0 series. TSM had already qualified for Worlds after their
              semifinal win due to their Championship Points from the spring split, and they ended up with the second seed from North America.</p>

            <p>TSM were drawn into Group D, which instantly became known as the "Group of Death" or the "Group of TSM's Death" due to LGD Gaming and KT Rolster being favorites to win it;
              Origen was the last team drawn in. LGD massively underperformed expectations, however, and TSM took a game off them in the first round robin. However,
              at the same time Origen overperformed, and ultimately KT Rolster and Origen made it out of groups; TSM lost their second game against LGD and
              ended up in last place with a 1-5 record.</p><br>



            <a href="http://lol.esportspedia.com/wiki/Bjergsen" target="_blank">lol.esportspedia</a><br>
            <a href="http://lol.gamepedia.com/Bjergsen/Champion_Statistics" target="_blank">Champion Statistics</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
